<div class="container">

  <h1>Note Buddy</h1>
  <h3 class="no-browser-support">Sorry, Your Browser Doesn't Support the Web Speech API. Try Opening This Demo In Google Chrome.</h3>

  <div class="app">
    <h3>Add New Note</h3>
    <div class="note-heading input-single">
      <input name="note-heading" [(ngModel)]="noteHead" placeholder="Note Heading (required)">
    </div>
    <div class="input-single">
      <textarea id="note-textarea" name="note-textArea" placeholder="Create a new note by typing or using voice recognition." rows="6" [(ngModel)]='speechData'></textarea>
    </div>
    <button id="start-record-btn" title="Start Recording" (click)="onRecognise();">Start Recognition</button>
    <button id="pause-record-btn" title="Pause Recording" (click) = "onPause();">Pause Recognition</button>
    <button id="save-note-btn" title="Save Note" (click) = "saveNote();" [disabled]="!noteHead">Save Note</button>
    <p id="recording-instructions">Press the
      <strong>Start Recognition</strong> button and allow access.</p>
    <p>
      {{instructions}}
    </p>
    <h3>My Notes</h3>
    <ul id="notes">
      <li *ngIf = "notesList && notesList.length && notesList.length == 0">
        <p class="no-notes">You don't have any notes.</p>
      </li>
      <li class="note" *ngFor="let note of notesList; let i = index;">
        <p class="header">
          <span>{{i+1}}&nbsp;&nbsp;</span>
          <span class="date noteBuddy-margin-right-small">{{note.heading}}</span>
          <span class="date">{{note.date}}</span>
          <a href="" class="listen-note" title="Listen to Note" (click)="readOut(note.content);">Listen to Note</a>
          <a href="" class="delete-note" title="Delete" (click) = "deleteNote(note.date);">Delete</a>
          <span class="read-note" id="read-label-{{i}}" (click)="readNotes(i)">Read</span>
          <img src="../../assets/download.svg" class="download-icon" (click)="downloadFile(i, note.content)" width="25">
          <span class="read-note" (click)="summariseNotes(note,i);">Summarise</span>
          <span *ngIf="hasSummary[i]" class="read-note" data-toggle="modal" data-target="#summaryModal" (click)="hasSummary[i]=false">Show Summary</span>
        </p>
        <p class="content" id="notes-{{i}}">{{note.content}}</p>
      </li>
    </ul>
  </div>
  <div class="modal fade" id="summaryModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{summarisedNotes.title}}</h4>
        </div>
        <div class="modal-body">
          <p>{{summarisedNotes.content}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div> 
    </div>
  </div>
</div>
